In [1]:
import pandas as pd

In [3]:
data = pd.read_excel('./consumo.xlsx')
data.head(5)

       FECHA     CONSUMO    FESTIVO
0 2014-01-01  1025.77354  Año_nuevo
1 2014-01-02  1478.33453     Normal
2 2014-01-03  1610.05269     Normal
3 2014-01-04  1578.83430     Normal
4 2014-01-05  1328.31417     Normal